<!-- <app-header></app-header> -->

<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/viewtask">View Tasks</a></li>
  <li><a routerLink="/login">Login</a></li>
  <li><a routerLink="/register">Register</a></li>
  <li style="float:right; margin:10px"><img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMt-fj6vfScX4vuBjTCFBn7R2ZGfEtHANVkg&usqp=CAU"
    alt="toDoApp"
    height="30px"
    width="30px"
    style="margin-left: 20px;"
  /></li>
</ul>

<!-- <app-viewtask></app-viewtask> -->
<!-- <app-add-task></app-add-task> -->
<!-- <app-viewtask></app-viewtask> -->
<router-outlet></router-outlet>
