
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMt-fj6vfScX4vuBjTCFBn7R2ZGfEtHANVkg&usqp=CAU"
    alt="toDoApp"
    height="30px"
    width="30px"
    style="margin-left: 20px;"
  />

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/">Add Tasks </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewtask">View Tasks</a>
      </li>
      
      <!-- <li class="nav-item">
        <a class="nav-link" routerlink="">Completed Tasks</a>
      </li> -->
     
    </ul>
    
  </div>
</nav>
